/**
 * Design Mirror view tool
 */

.view {
	padding: 10px;
}

.view a {
	display: block;
	padding: 5px 0;
	color: white;
	text-decoration: none;
}

.view a:hover {
	color: gray;
	text-decoration: underline;
}

.view .is-active {
	color: darksalmon;
}

/* Vertical divider between code and design */
.resizer {	
	width: 100%;
	border-bottom: 1px dashed #333333;
	position: absolute;
	top: 50%;
	z-index: 1;
}