* {
	position: relative;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: lightGray;
}

/* Wrap around code and design */
.frame {
	width: 1145px;
	height: 100%;
	margin-left: 100px;
}

/* Container for the design preview */
.design {
	height: 50%;
	width: 100%;
	overflow: scroll;
	background-color: white;
}

/* Container for the code preview (workspace) */
.code {
	height: 50%;
	width: 100%;
	overflow: scroll;
	background-color: white;
}

/* The canvas for boundaries */
.inner {
	height: 100%;
}

.design-image {
	display: block;
}

/* Design Mirror tools */
.tools {
	width: 100px;
	height: 100%;
	float: left;
	background-color: #333333;
	color: white;
	z-index: 1;
}