* {
	position: relative;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

/* Wrap around code and design */
.frame {
	width: 1145px;
	height: 100%;
	margin-left: 100px;
}

/* Vertical divider between code and design */
.resizer {
	width: 100%;
	position: absolute;
	top: 50%;
	border-bottom: 1px dashed #333333;
}

/* Container for the design preview */
.design {
	height: 50%;
	width: 100%;
	overflow: scroll;
}

/* Container for the code preview (workspace) */
.code {
	height: 50%;
	width: 100%;
	overflow: scroll;
}

/* Design Mirror tools */
.tools {
	width: 100px;
	height: 100%;
	float: left;
	background-color: #333333;
	color: white;
	z-index: 1;
}